---
import img1 from '../images/img1.svg';
import img2 from '../images/img2.jpg';
import img3 from '../images/img3.jpg';
import Part1 from './Part1.astro';
---

<div>
    <Part1 img1={img1.src}
    img2={img2.src}
    img3={img3.src}
    textproduct='perfume'
    texttitle='Gabrielle Essence Eau Da Parfum'
    textdescription='A floral, solar and voluptuous interpretation composed by Oliver Polge, Perfumer-Creator for the House of CHANEL.'
    price='$149.99'
    pricenull='$169.99'
    button='Add to Cart' />
</div>